.authApp {
  margin: 8px 6px 0 0;
}

.authAppModal {
  
  :global(.modal-body) {
    height: 320px;
  }
  
  .localContent {
    position: absolute;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    width: 55%;
  }
  
  .socialContent {
    position: absolute;
    padding: 15px 0;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 100%;
    width: 40%;
    
    text-align: center;
  }

  .divider {
    position: absolute;
    width: 1px;
    left: 58%;
    height: 290px;
    background-color: #e5e5e5;
    
    .dividerContent {
      position: absolute;
      top: 48%;
      left: -7px;    

      background-color: white;
      
      font-size: 16px;
      line-height: 21px;
    }
  }
}

